@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;600&display=swap');
@import 'colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: default;
}

ul {
  list-style-type: none;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  cursor: default;
}

//menu

.header {
  display: flex;
  justify-content: center;
  background-color: $colorDark;
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
  height: 50px;

  &__content {
    max-width: 1300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 0;
  }

  &__logo {
    align-items: center;
    display: flex;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    width: 33px;
    height: 30px;
    margin-right: 10px;

    &:hover {
      -webkit-animation: rotate-90-cw 0.4s
        cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
      animation: rotate-90-cw 0.4s cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
    }
  }

  &__text {
    font-size: 26px;
    line-height: 24px;
    letter-spacing: 6px;
    font-family: 'Orbitron', sans-serif;
    color: rgb(255, 255, 255);
  }
}

// logo анимация
@-webkit-keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

.nav {
  &__item {
    &:hover {
      scale: 1.1;
    }
  }

  &__list {
    max-width: 655px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }

  &__text {
    color: $colorYellow;
    font-size: 20px;
  }
}

.main {
  margin-top: 65px;
  display: flex;
  flex-direction: column;
}

//about us

.brand {
  display: flex;
  width: 100%;
  justify-content: center;
  //   height: 100vh;
  padding-top: 55px;
  margin-top: -55px;
  -webkit-background-clip: content-box;
  background-clip: content-box;
  margin-bottom: 50px;
  //   background-image: url(./img/bgSyper.png);
  //   background-size: contain;
  //   background-repeat: no-repeat;

  &__flex {
    flex-direction: column;
  }

  &__first,
  &__second {
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 822px;
  }

  &__info:first-child {
    margin-right: 30px;
  }

  &__img {
    height: 600px;
    position: relative;
    background-image: url(./img/item2.png);
    background-size: 455px;
    background-repeat: no-repeat;
  }

  &__title {
    color: $colorYellow;
    padding-bottom: 20px;
    -webkit-animation: backgroundZoomAnimate 20s forwards;
    animation: backgroundZoomAnimate 20s forwards;

    &:hover {
      scale: 1.1;
    }
  }

  &__text {
    text-align: center;
    font-size: 18px;
  }

  &__img-watch {
    top: 315px;
    position: absolute;
    height: 359px;
    right: -19px;
  }

  &__img-woman {
    height: 520px;
    width: 420px;
    margin-right: 30px;
    background-image: url(./img/bg.png);
    background-size: 455px;
    background-repeat: no-repeat;
  }

  &__img-detail {
    height: 369px;
    position: absolute;
    left: 14px;
    top: 207px;
  }
}

// анимация на title
@-webkit-keyframes backgroundZoomAnimate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}

@keyframes backgroundZoomAnimate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}

//
.line {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;

  &__title {
    color: $colorYellow;
    -webkit-animation: backgroundZoomAnimate 20s forwards;
    animation: backgroundZoomAnimate 20s forwards;
  }

  &__container {
    display: flex;
    align-items: center;
    background: white;
    overflow: hidden;
  }

  &__words {
    font-size: 60px;
    line-height: 1.3;
    padding: 24px 0;
    color: $colorDark;
    white-space: nowrap;
    animation: marquee 60s infinite linear;
    &:after {
      content: ' LONDON - PARIS - SYDNEY - TOKYO - NEW YORK - BERLIN - ROME';
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

//footer

.footer {
  background-color: $colorDark;
  height: 280px;
}

.footer__text {
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
  padding: 30px 0;
}

.footer__item {
  display: inline-block;
  border-radius: 2px;
  border: 1px solid transparent;
  background-color: #ffffff;
  width: 32px;
  height: 32px;
  color: $colorDark;
  font-size: 16px;
  line-height: 32px;
  font-weight: 500;
  text-align: center;
  transition: color 1s;
  transition: background-color 1s;
}

.footer__item:not(:last-child) {
  margin: 0 8px 0 0;
}

.footer__item:hover {
  color: #ffffff;
  background-color: $colorYellow;
}

//carousel
.carousel {
  display: flex;
  justify-content: center;
}

.carousel-inner {
  width: 1240px !important;
  border-radius: 40px;
  height: 422px;
}

.my-slider {
  padding-top: 70px;
  margin-top: -55px;
  -webkit-background-clip: content-box;
  background-clip: content-box;
  margin-bottom: 30px;

  &__title {
    color: $colorYellow;
    text-align: center;
    padding-bottom: 10px;
  }

  &__style {
    height: 422px;
  }
}

// catalog
.catalog {
  display: flex;
  justify-content: center;
  // &__card {
  //   max-width: 1300px;
  //   display: flex;
  //   justify-content: center;
  //   flex-wrap: wrap;
  //   align-items: center;
  // }

  &__card {
    width: 22rem;
    margin: 15px;
    padding: 15px;
    text-align: center;
    transition-duration: 0.4s;
    box-shadow: 10px 5px 5px #f5f5f5;
    border: var(--bs-card-border-width) solid rgb(196 196 196 / 18%) !important;
    align-items: center;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__img {
    height: 425px;
  }

  &__title {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  }
}

//order form

.order {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    height: 50vh;
    width: 50vw;
  }
}
