@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: 'IBM Plex Mono', monospace;
}

//menu

.header {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 8px;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 70px;

  &__content {
    max-width: 1300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 0;
  }

  &__logo {
    align-items: center;
    display: flex;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    width: 33px;
    height: 30px;
    margin-right: 10px;
  }

  &__text {
    font-size: 26px;
    line-height: 24px;
    letter-spacing: 6px;
    font-family: 'Orbitron', sans-serif;
    color: black;
  }
}

.nav {
  &__item {
    &:hover {
      scale: 1.1;
    }
  }

  &__list {
    max-width: 655px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }

  &__text {
    color: #c6a15a;
    font-size: 20px;
  }
}

.main {
  margin-top: 65px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

//about us

.brand {
  display: flex;
  width: 100%;
  justify-content: center;

  &__content {
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 822px;
    margin-right: 30px;
    position: relative;
  }

  &__img {
    height: 600px;
    position: relative;
    background-image: url(./img/item2.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__title {
    color: #c6a15a;
    padding-bottom: 20px;
    -webkit-animation: backgroundZoomAnimate 20s forwards;
    animation: backgroundZoomAnimate 20s forwards;

    &:hover {
      scale: 1.1;
    }
  }

  &__text {
    text-align: center;
    font-size: 18px;
  }

  &__img-watch {
    top: 350px;
    position: absolute;
    height: 349px;
    right: 104px;
  }
}

// анимация на title
@-webkit-keyframes backgroundZoomAnimate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}

@keyframes backgroundZoomAnimate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}

//footer

.footer {
  background-color: #222224;
  height: 280px;
}
