@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;600&display=swap');
@import 'colors';

body {
  font-family: 'IBM Plex Mono', monospace;
  cursor: default;
}

//menu

.header {
  display: flex;
  justify-content: center;
  background-color: $colorDark;
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
  height: 60px;

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 0;
  }

  &__logo {
    align-items: center;
    display: flex;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    width: 33px;
    height: 30px;
    margin-right: 10px;

    &:hover {
      -webkit-animation: rotate-90-cw 0.4s
        cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
      animation: rotate-90-cw 0.4s cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
    }
  }

  &__text {
    font-size: 26px;
    line-height: 24px;
    letter-spacing: 6px;
    font-family: 'Orbitron', sans-serif;
    color: rgb(255, 255, 255);
  }
}

// logo анимация
@-webkit-keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

.nav {
  &__item {
    &:hover {
      scale: 1.1;
    }
  }

  &__list {
    max-width: 655px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }

  &__text {
    color: $colorYellow;
    font-size: 20px;
  }

  &__text-admin {
    color: $colorYellow;
    font-size: 18px;
  }
}

.main {
  margin-top: 65px;
}

//about us

.brand {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 55px;
  margin-top: -55px;
  -webkit-background-clip: content-box;
  background-clip: content-box;
  //   background-image: url(./img/bgSyper.png);
  //   background-size: contain;
  //   background-repeat: no-repeat;

  &__first,
  &__second {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__info:first-child {
    margin-right: 30px;
  }

  &__img {
    height: 600px;
    position: relative;
    background-image: url(./img/item2.png);
    background-size: 455px;
    background-repeat: no-repeat;
  }

  &__title {
    color: $colorYellow;
    padding-bottom: 20px;
    text-align: center;

    &:hover {
      scale: 1.1;
    }
  }

  &__text {
    text-align: center;
    font-size: 18px;
  }

  &__img-watch {
    top: 315px;
    position: absolute;
    height: 359px;
    right: -9px;
  }

  &__img-woman {
    height: 520px;
    width: 420px;
    margin-right: 30px;
    background-image: url(./img/bg.png);
    background-size: 455px;
    background-repeat: no-repeat;
  }

  &__img-detail {
    height: 369px;
    position: absolute;
    left: 18px;
    top: 207px;
  }
}

// parallax

.wrapper {
  height: 70vh;
  margin: 25px 0 30px 0;
}

.parallax-img {
  height: 100%;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./img/parallax-img3.jpeg');

  &__world {
    height: 100%;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./img/parallax-img2.jpg');
  }
}

// https://source.unsplash.com/random/1920x1080

//carousel

.carousel {
  display: flex;
  justify-content: center;
}

.carousel-inner {
  border-radius: 40px;
}

.my-slider {
  padding-top: 70px;
  margin-top: -55px;
  -webkit-background-clip: content-box;
  background-clip: content-box;
  margin-bottom: 30px;

  &__title {
    color: $colorYellow;
    text-align: center;
    padding-bottom: 20px;
  }

  &__style {
    height: 430px;
  }
}

// catalog

.catalog {
  display: flex;
  justify-content: center;

  &__card {
    width: 22rem;
    margin: 15px;
    padding: 15px;
    text-align: center;
    transition-duration: 0.4s;
    box-shadow: 10px 5px 5px #f5f5f5;
    border: var(--bs-card-border-width) solid rgb(196 196 196 / 18%) !important;
    align-items: center;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__img {
    height: 425px;
  }

  &__title {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  }
}

.row {
  margin-right: auto;
  margin-left: auto;
}

//order form

.order {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 60px;
  padding-top: 70px;
  -webkit-background-clip: content-box;
  background-clip: content-box;

  &__content {
    height: 508px;
    width: 475px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    background-color: $colorDark;
    background-image: url('./img/bgform.png');
    background-size: cover;
  }

  &__title {
    color: #c6a15a;
    padding-bottom: 48px;
    padding-top: 20px;
  }

  &__item {
    width: 70%;
  }
}

.form-control {
  border-radius: 40px;
  margin: 36px 0;
  padding: 15px;

  &:focus {
    border-color: $colorYellow;
    outline: 0;
    box-shadow: 0 0 0 0.1rem $colorYellow;
  }
}

.btn {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 14px 49px;
  margin: 10px 20px;
  border-radius: 32px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #ffc107 0%,
    #724f00 51%,
    #ffc107 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px rgb(0 0 0 / 10%);
  transition: 0.5s;

  &:hover {
    background-position: right center;
    color: #ffffff;
  }

  // &:focus {
  //   outline: none;
  //   box-shadow: 0 0 0 4px #cbd6ee;
  // }

  &:active {
    color: white !important;
    background-color: var(--bs-btn-active-bg);
    border-color: var(--bs-btn-active-border-color);
  }
}

// анимация строки

.line {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;

  &__title {
    color: $colorYellow;
    -webkit-animation: backgroundZoomAnimate 20s forwards;
    animation: backgroundZoomAnimate 20s forwards;
  }

  &__container {
    display: flex;
    align-items: center;
    background: white;
    overflow: hidden;
  }

  &__words {
    font-size: 60px;
    line-height: 1.3;
    padding: 24px 0;
    color: $colorDark;
    white-space: nowrap;
    // animation: marquee 60s infinite linear;
    // &:after {
    //   content: ' LONDON - PARIS - SYDNEY - TOKYO - NEW YORK - BERLIN - ROME';
    // }
    animation: move 25s linear infinite alternate;
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-40%);
  }
}

//footer

.footer {
  background-color: $colorDark;
  height: 280px;
  color: #ffffff;

  &__flex {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    color: #ffffff;
    font-size: 16px;
    line-height: 19px;
    padding: 30px 0;
  }

  &__item {
    display: inline-block;
    border-radius: 2px;
    border: 1px solid transparent;
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    color: #222224;
    font-size: 20px;
    line-height: 38px;
    font-weight: 500;
    text-align: center;
    transition: color 1s;
    transition: background-color 1s;

    &:not(:last-child) {
      margin: 0 8px 0 0;
    }

    &:hover {
      color: #ffffff;
      background-color: $colorYellow;
    }
  }
}

// cabinetAdmin

.admin {
  display: flex;
  flex-direction: column;
  font-size: 14px;

  &__hello {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 60px;
  }

  &__text {
    color: #e8a9e6;
    font-weight: 800;
    font-size: 25px;
    -webkit-animation: heartbeat 2s cubic-bezier(0.895, 0.03, 0.685, 0.22)
      infinite both;
    animation: heartbeat 2s cubic-bezier(0.895, 0.03, 0.685, 0.22) infinite both;
  }

  &__img {
    height: 180px;
  }

  &__table {
    margin: -70px 15px;
    padding: 70px 15px;
  }

  &__title {
    color: $colorYellow;
  }

  &__font-size {
    font-size: 10px;
  }

  &__delete {
    border: none;
    background: white;
  }

  &__form {
    width: 500px;
    text-align: center;
  }

  &__form-text {
    font-size: 17px;
  }

  &__input {
    margin: 15px;
    padding: 12px;
  }

  &__rega {
    margin-top: 70px;
  }
}

.table {
  margin-bottom: 30px;
}

// анимация Hello

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

// модальное окно

// .pop-up {
//   left: 0;
//   position: fixed;
//   height: 100vh;
//   width: 100vw;
//   background-color: rgba(0, 0, 0, 0.4);
//   z-index: 100;
//   top: 0;
//   text-align: center;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   &__content {
//     background-color: #ffffff;
//     border-radius: 40px;
//     height: 50%;
//     width: 50%;
//   }
// }
