@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: default;
}

ul {
  list-style-type: none;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  cursor: default;
}

.header {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 8px;
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
  height: 70px;
}
.header__content {
  max-width: 1300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 0;
}
.header__logo {
  align-items: center;
  display: flex;
}
.header__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__img {
  width: 33px;
  height: 30px;
  margin-right: 10px;
}
.header__text {
  font-size: 26px;
  line-height: 24px;
  letter-spacing: 6px;
  font-family: 'Orbitron', sans-serif;
  color: black;
}

.nav__item:hover {
  scale: 1.1;
}
.nav__list {
  max-width: 655px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}
.nav__text {
  color: #c6a15a;
  font-size: 20px;
}

.main {
  margin-top: 65px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.brand {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 55px;
  margin-top: -55px;
  -webkit-background-clip: content-box;
  background-clip: content-box;
  margin-bottom: 50px;
}
.brand__flex {
  flex-direction: column;
}
.brand__first,
.brand__second {
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.brand__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 822px;
}
.brand__info:first-child {
  margin-right: 30px;
}
.brand__img {
  height: 600px;
  position: relative;
  background-image: url(./img/item2.png);
  background-size: 455px;
  background-repeat: no-repeat;
}
.brand__title {
  color: #c6a15a;
  padding-bottom: 20px;
  -webkit-animation: backgroundZoomAnimate 20s forwards;
  animation: backgroundZoomAnimate 20s forwards;
}
.brand__title:hover {
  scale: 1.1;
}
.brand__text {
  text-align: center;
  font-size: 18px;
}
.brand__img-watch {
  top: 315px;
  position: absolute;
  height: 359px;
  right: -19px;
}
.brand__img-woman {
  height: 520px;
  width: 420px;
  margin-right: 30px;
  background-image: url(./img/bg.png);
  background-size: 455px;
  background-repeat: no-repeat;
}
.brand__img-detail {
  height: 369px;
  position: absolute;
  left: 14px;
  top: 207px;
}

@-webkit-keyframes backgroundZoomAnimate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
@keyframes backgroundZoomAnimate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
.line {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
.line__title {
  color: #c6a15a;
  -webkit-animation: backgroundZoomAnimate 20s forwards;
  animation: backgroundZoomAnimate 20s forwards;
}
.line__container {
  display: flex;
  align-items: center;
  background: white;
  overflow: hidden;
}
.line__words {
  font-size: 60px;
  line-height: 1.3;
  padding: 24px 0;
  color: #222224;
  white-space: nowrap;
  -webkit-animation: marquee 60s infinite linear;
  animation: marquee 60s infinite linear;
}
.line__words:after {
  content: ' LONDON - PARIS - SYDNEY - TOKYO - NEW YORK - BERLIN - ROME';
}

@-webkit-keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.footer {
  background-color: #222224;
  height: 280px;
}

.footer__text {
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
  padding: 30px 0;
}

.footer__item {
  display: inline-block;
  border-radius: 2px;
  border: 1px solid transparent;
  background-color: #ffffff;
  width: 32px;
  height: 32px;
  color: #222224;
  font-size: 16px;
  line-height: 32px;
  font-weight: 500;
  text-align: center;
  transition: color 1s;
  transition: background-color 1s;
}

.footer__item:not(:last-child) {
  margin: 0 8px 0 0;
}

.footer__item:hover {
  color: #ffffff;
  background-color: #c6a15a;
}

.carousel {
  display: flex;
  justify-content: center;
}

.carousel-inner {
  width: 1150px !important;
  border-radius: 10px;
  height: 380px;
}

.my-slider {
  height: 100vh;
  padding-top: 70px;
  margin-top: -55px;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}
.my-slider__title {
  color: #c6a15a;
  text-align: center;
  padding-bottom: 30px;
}
.my-slider__style {
  height: 380px;
}
